@implements IDisposable

@inject NavigationManager NavigationManager

<FluentNav Id="main-menu" Width="260px">
    <FluentNavItem Href="/" Match="NavLinkMatch.All" IconRest="@(new Icons.Regular.Size20.Home())"
                   IconActive="@(new Icons.Filled.Size20.Home())">Home</FluentNavItem>
    <FluentNavItem Href="counter" IconRest="@(new Icons.Regular.Size20.NumberSymbolSquare())"
                   IconActive="@(new Icons.Filled.Size20.NumberSymbolSquare())">Counter</FluentNavItem>
    <FluentNavItem Href="weather" IconRest="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())"
                   IconActive="@(new Icons.Filled.Size20.WeatherPartlyCloudyDay())">Weather</FluentNavItem>
    <FluentNavItem Href="auth" IconRest="@(new Icons.Regular.Size20.LockClosedKey())"
                   IconActive="@(new Icons.Filled.Size20.LockClosedKey())">Auth Required</FluentNavItem>
    <AuthorizeView>
        <Authorized>
            <FluentNavItem Href="Account/Manage">@context.User.Identity?.Name</FluentNavItem>
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@_currentUrl" />
                <FluentButton Type="ButtonType.Submit" Style="width: 100%;">Logout</FluentButton>
            </form>
        </Authorized>
        <NotAuthorized>
            <FluentNavItem Href="auth/register">Register</FluentNavItem>
            <FluentNavItem Href="auth/login">Login</FluentNavItem>
        </NotAuthorized>
    </AuthorizeView>
</FluentNav>

@code {
    string? _currentUrl;

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    /// <inheritdoc />
    public void Dispose() =>
        NavigationManager.LocationChanged -= OnLocationChanged;
}
